.feed {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.btndis{
background-color:whitesmoke;
color: black;
border-radius: 20px;
height: 50px;
width: 80px;
}
.changesub{
 
 flex-direction: row;
 justify-content: space-evenly;
}